{% extends "base/base-templates.html" %}
{% block content %}
{% load static %}

<!-- Start Carousel  -->
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" style="height: 450px;">
        <div class="carousel-item active" data-interval="3000">
            <img src="{% static 'images/mobile.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="3000">
            <img src="{% static 'images/laptop.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="3000">
            <img src="{% static 'images/laptop2.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
<!-- End Carousel -->

<!-- Start Main Gallery 1 -->
<div class="main-gallery">

    <!-- Start Gallery 1 -->
    <div class="gallery">

        <div class="gallery-title">
            <p>20%-70% off | daily essentials</p>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop2.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
        </div>

    </div>
    <!-- End Gallery 1 -->

    <!-- Start Gallery 2 -->
    <div class="gallery">

        <div class="gallery-title">
            <p>20%-70% off | daily essentials</p>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop2.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
        </div>

    </div>
    <!-- End Gallery 2 -->

    <!-- Start Gallery 3 -->
    <div class="gallery">

        <div class="gallery-title">
            <p>20%-70% off | daily essentials</p>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop2.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
        </div>

    </div>
    <!-- End Gallery 3 -->

    <!-- Start Gallery 4 -->
    <div class="gallery">

        <div class="gallery-title">
            <p>20%-70% off | daily essentials</p>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop2.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
        </div>

    </div>
    <!-- End Gallery 4 -->

    <!-- Start Gallery 5 -->
    <div class="gallery">

        <div class="gallery-title">
            <p>20%-70% off | daily essentials</p>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop2.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
        </div>

    </div>
    <!-- End Gallery 5 -->

    <!-- Start Gallery 6 -->
    <div class="gallery">

        <div class="gallery-title">
            <p>20%-70% off | daily essentials</p>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop2.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
        </div>

    </div>
    <!-- End Gallery 6 -->

    <!-- Start Gallery 7 -->
    <div class="gallery">

        <div class="gallery-title">
            <p>20%-70% off | daily essentials</p>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop2.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
        </div>

    </div>
    <!-- End Gallery 7 -->

    <!-- Start Gallery 8 -->
    <div class="gallery">

        <div class="gallery-title">
            <p>20%-70% off | daily essentials</p>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/laptop2.jpg' %}" alt="Cinque Terre">
            </a>
            <a target="_blank" href="/static/images/mobile.jpg">
                <img src="{% static 'images/mobile.jpg' %}" alt="Cinque Terre">
            </a>
        </div>

    </div>
    <!-- End Gallery 8 -->

</div>
<!-- close main-gallery -->

{% endblock %}