{% extends "base/base-templates.html" %}
{% block content %}
{% load static %}

<!-- account css -->
<div class="user_address">

    <div class="accountpart">
        <a href="{{BASE_URL}}user_account/your_account">Your Account</a>
        <a href="{{BASE_URL}}user_account/your_addresses">Your Addresses</a> New Address
    </div>

    <form action="">
        <h5>Add a new address</h5>
        <b>
            <p>Or pick up your packages at your convenience from our self-service locations. To add an Amazon Pickup
                Point,
                click <a href="#">here.</a></p>
        </b>
        <label for=""><b>Country/Region</b></label>

        <select name="country" id="country">
            <option value="australia">Australia</option>
            <option value="india" selected>India</option>
            <option value="china">china</option>
            <option value="south africa">south africa</option>
            <option value="nepal">nepal</option>
        </select>

        <label for="">Full name (First and Last name)</label>
        <input type="text">

        <label for="">Mobile number</label>
        <input type="tel" placeholder="10-digit mobile number without prefixes">

        <label for="">PIN Code</label>
        <input type="text" name="" id="" placeholder="6 digits [0-9] PIN code">

        <label for="">flat,house no., building, company, appartment</label>
        <input type="text" name="" id="">

        <label for="">area, colony, street, sector, village</label>
        <input type="text" name="" id="">

        <label for="">landmark</label>
        <input type="text" name="" id="" placeholder="E.g. Near AIIMS Flyover, Behind Regal Cinema, etc.">

        <label for="">town/city</label>
        <input type="text" name="" id="">

        <label for="">state/province/region</label>
        <select name="state" id="state">
            <option value="madhyay_pradesh" selected>madhyay pradesh</option>
            <option value="india">uttar pradesh</option>
            <option value="china">goa</option>
            <option value="south africa">jammu kashmir</option>
            <option value="nepal">assam</option>
        </select>

        <h5>Add delivery instructions</h5>
        <p>Preferences are used to plan your delivery. However shipments can sometimes arrive early or later than
            planned.</p>

        <label for="">address type</label>
        <select name="" id="">
            <option value="">select an address type</option>
            <option value="">home (7am - 9pm delivery)</option>
            <option value="">offices/commercial (10AM - 6 PM delivery)</option>
        </select>
        <button><a href="#">Add address</a></button>
    </form>

</div>


{% endblock %}