{% extends "base/base-templates.html" %}
{% block content %}
{% load static %}

<!-- ordernav css is in gallary -->
<div class="ordernav">

    <div class="accountpart">
        <a href="{{BASE_URL}}user_account/your_account">Your Account</a> Your Orders
    </div>

    <h2>Your Order</h2>
    <div class="search-container">
        <form action="">
            <input type="text" placeholder="Search all orders" name="search">
            <button type="submit">Search Orders</button>
        </form>
    </div>
    <ul>
        <li><a href="{{BASE_URL}}order/return_order">Orders</a></li>
        <li><a href="{{BASE_URL}}order/buy_again">Buy Again</a></li>
        <li><a href="{{BASE_URL}}order/open_order">Open Orders</a></li>
        <li><a href="{{BASE_URL}}order/cancelled_order">Cancelled Orders</a></li>
    </ul>

</div>

<div class="vieworders">
    <p>You have not placed any orders in past 3 months. <a href="{{BASE_URL}}order/return_order">View orders in 2020</a>
    </p>
</div>

{% endblock %}